
.background-pattern2{
    background-image:  radial-gradient(#14a484 1px, transparent 1px), radial-gradient(#14a484 1px, #ffffff 1px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
}
.active{
    border-left: 5px #14a484 solid;
    background-color: #14a48477;
}
.text-light{
    color: white;
}